<!DOCTYPE html>
<html lang="en" ng-app="rpgkeeper" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Mobile Chrome address bar Color -->
        <meta name="theme-color" content="#000000">

        <!-- iOS Web App tags -->
        <meta name=apple-mobile-web-app-capable content=yes>
        <!--meta name=apple-mobile-web-app-status-bar-style content=black-->

        <base href="/">

        <title>RPGKeeper</title>

        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="192x192" href="/images/logo.png">
        <link rel="icon" sizes="192x192" href="/images/logo.png">

        <!-- Bower Components -->
        <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/vendor/rpgicons/style.css" rel="stylesheet">
        <script src="/vendor/lodash/lodash.min.js"></script>
        <script src="vendor/marked/marked.min.js"></script>
        <script src="/vendor/rpgdice/rpgdice.js"></script>

        <link href="/vendor/codemirror/lib/codemirror.css" rel="stylesheet">
        <script src="/vendor/codemirror/lib/codemirror.js"></script>
        <script src="/vendor/codemirror/addon/mode/overlay.js"></script>
        <script src="/vendor/codemirror/mode/xml/xml.js"></script>
        <script src="/vendor/codemirror/mode/markdown/markdown.js"></script>
        <script src="/vendor/codemirror/mode/gfm/gfm.js"></script>
        <script src="/vendor/codemirror/mode/javascript/javascript.js"></script>
        <script src="/vendor/codemirror/mode/css/css.js"></script>
        <script src="/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
        <script src="/vendor/codemirror/mode/clike/clike.js"></script>
        <script src="/vendor/codemirror/mode/meta.js"></script>

        <!-- Dropbox -->
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js"
                id="dropboxjs" data-app-key="678jhziclljis0y"></script>

        <!-- AngularJS -->
        <script src="/vendor/angular/angular.min.js"></script>
        <script src="/vendor/angular-route/angular-route.min.js"></script>
        <script src="/vendor/angular-resource/angular-resource.min.js"></script>

        <!-- Angular Bower Components -->
        <script src="/vendor/angular-directive.g-signin/google-plus-signin.js"></script>
        <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/vendor/angular-ui-codemirror/ui-codemirror.min.js"></script>

        <!-- App Style -->
        <link href="css/rpgkeeper.min.css" rel="stylesheet">

        <!-- App Scripts -->
        <script src="/app.js"></script>
        <script src="/components/libs.js"></script>
        <script src="/components/auth/auth.js"></script>
        <script src="/components/dice/dice_service.js"></script>
        <script src="/components/dropbox/dropbox.js"></script>
        <script src="/components/systems/systems_service.js"></script>
        <script src="/components/character/character_resource.js"></script>
        <script src="/components/character/character_service.js"></script>
        <script src="/components/header/header.js"></script>
        <script src="/components/footer/footer.js"></script>
        <script src="/components/utils/utils.filters.js"></script>
        <script src="/components/utils/utils.directives.js"></script>

        <script src="/pages/home/home.js"></script>
        <script src="/pages/dash/dash.js"></script>
        <script src="/pages/dash/modals/add_edit_char.js"></script>
        <script src="/pages/character/character.js"></script>

        <!-- System Scripts -->
        <% _.forEach(scripts, function(src) { %><script src="<%= src %>"></script>
        <% }); %>
    </head>
    <body>
        <site-header></site-header>
        <ng-view id="main-view"></ng-view>
        <site-footer></site-footer>
    </body>
</html>