.DS_Store

# IntelliJ artifacts
.idea

# Local artifacts
.env
.env.*

# Build artifacts
.cache
dist
*.tsbuildinfo
/src/client/components.d.ts

# Node artifacts
node_modules

# Database
*.sqlite
*.db*

# Playwright
/playwright-report/
/test-results/
