//----------------------------------------------------------------------------------------------------------------------
// Generic Character
//----------------------------------------------------------------------------------------------------------------------

#generic-char {
    .upper-sheet {
        display: flex;
        flex-wrap: wrap;

        .card {
            margin-bottom: 0;
        }

        .main {
            flex: 0 1 300px;
            display: flex;
            flex-direction: column;
            margin-right: 5px;

            @media (min-width: 62em) {
                flex: 0 1 500px;
                flex-direction: row;

                .portrait {
                    margin-bottom: 0 !important;
                }

                .counters {
                    margin-top: 0 !important;
                    margin-left: 5px;
                }
            }
            @media (min-width: 75em) {
                flex: 0 1 550px;

                .portrait {
                    flex: 0 1 auto !important;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }

                .counters {
                    margin-top: 0 !important;
                    margin-left: 5px;
                }
            }

            .portrait {
                flex: 1 1 445px;
                margin-right: 5px;
                margin-bottom: 5px;

                img {
                    height: 445px;
                    width: 300px;
                }
            }

            .counters {
                margin-top: 5px;
            }
        }

        .sidebar {
            flex: 1 1 5%;
            margin-left: 5px;
        }
    }

    #rolls {
        .roll-display {
            position: relative;
            min-width: 65px;
            text-align: right;
            padding-left: 0;
            padding-right: 25px;
            cursor: pointer;

            button.close {
                float: none;
                position: absolute;
                top: 4px;
                right: 8px;
            }
        }

        .card-block {
            padding: 1em;
        }
    }

    #notes, #stats {
        margin-top: 10px;
    }

    #stats {
        .stats-list {
            font-size: .85em;
            display: flex;
            flex-wrap: wrap;
            padding-top: 15px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;

            > .statblock {
                flex: 1 1 auto;
                margin-left: 5px;
                margin-right: 5px;

                table {
                    margin-bottom: 0;
                }
            }
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
