//----------------------------------------------------------------------------------------------------------------------
// Main RPGKeeper Styles
//----------------------------------------------------------------------------------------------------------------------

@import "bootstrap";
@import "overrides";

//----------------------------------------------------------------------------------------------------------------------
// Variable Overrides
//----------------------------------------------------------------------------------------------------------------------

@brand-primary: #f90;
@brand-success: #8cc358;
@brand-info: #79cbe9;
@brand-warning: #ffd74f;
@brand-danger: #bb3228;

//----------------------------------------------------------------------------------------------------------------------

body {
    padding-top: 60px;
}

//----------------------------------------------------------------------------------------------------------------------
