<header id="site-header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/images/logo.png" width="30px" height="30px" style="display: inline-block; margin-top: -5px">
                RPGKeeper
            </a>
        </div>
        <div class="navbar-collapse collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: location == 'dashboard' }">
                    <a href="/dashboard">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="divider"></li>
                <li style="padding-left: 20px; margin-right: -20px">
                    <p class="navbar-text">{{ user.email }}</p>
                </li>
                <li class="divider"></li>
                <li ng-if="!authorized" class="button right">
                    <google-plus-signin clientid="712153107187-8e00g8d18nbk5esiffhkrbtr12vktlvq" language="en">
                        <button type="button" class="btn btn-danger navbar-btn btn-block">
                            <i class="fa fa-google-plus"></i> Sign in
                        </button>
                    </google-plus-signin>
                </li>
                <li ng-if="authorized" class="button right">
                    <button type="button" class="btn btn-danger navbar-btn btn-block" ng-click="signOut()">
                        <i class="fa fa-sign-out"></i> Sign out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>
