<footer id="site-footer" class="container text-center">
    <hr>
    <ul>
        <li><a href="/about"><i class="fa fa-question"></i> About</a></li>
        <li>|</li>
        <li><a href="https://github.com/Morgul/rpgkeeper"><i class="fa fa-github"></i> Github Project</a></li>
        <li>|</li>
        <li><a href="https://github.com/Morgul/rpgkeeper/issues/new"><i class="fa fa-bug"></i> Report a Bug</a></li>
    </ul>
    <p>&copy; 2015 Skewed Aspect Studios. All rights reserved.</p>
</footer>