//----------------------------------------------------------------------------------------------------------------------
// Custom Theme SCSS
//
// Note: Mixins and variable references are perfectly acceptable here.
//
//----------------------------------------------------------------------------------------------------------------------

@use "sass:map";

// Prevent overscroll
:root {
    overscroll-behavior: none;
}

//----------------------------------------------------------------------------------------------------------------------
// Color Fixes
//----------------------------------------------------------------------------------------------------------------------

// Buttons, Badges, etc.
@each $color, $value in $theme-colors-text {
    .btn-#{$color}
    {
        $base-color: map.get($theme-colors, $color);
        --#{$prefix}btn-color: #{ $value };
        --#{$prefix}btn-hover-color: #{ $value };
        --#{$prefix}btn-border-width: #{ 2px };
        --#{$prefix}btn-hover-border-color: #{ tint-color($base-color, 60%) };
    }

    .text-bg-#{$color}
    {
        color: $value !important;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Misc Overrides
//----------------------------------------------------------------------------------------------------------------------

h1.header,
h2.header,
h3.header,
h4.header,
h5.header,
h6.header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
}

// Height
.h-0 {
    height: 0;
}

.font-sm {
    font-size: 0.95rem;
}

.font-xs {
    font-size: 0.85rem;
}

// Drop shadow
.shadow-sm {
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1) !important;
}

hr.fancy {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(180, 180, 180, 0.75), rgba(0, 0, 0, 0));
}

//----------------------------------------------------------------------------------------------------------------------
// Animations
//----------------------------------------------------------------------------------------------------------------------

.flash {
    animation: flash linear 3s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
}

//----------------------------------------------------------------------------------------------------------------------
// Modal Overrides
//----------------------------------------------------------------------------------------------------------------------

// Fix modals
.modal-content {
    overflow: hidden;
}

.modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-full {
    width: 99%;
    max-width: none;
}

.modal-xxl {
    width: 80%;
    max-width: none;
}

//----------------------------------------------------------------------------------------------------------------------
