<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-trash-o"></i> Delete Character</h3>
</div>

<div class="modal-body text-center">
    <h3><i class="fa fa-exclamation-triangle"></i> Are you sure you want to delete your character?</h3>
    <p>This cannot be undone!</p>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close(true)"><i class="fa fa-trash-o"></i> Delete</button>
    <button class="btn btn-default" ng-click="$dismiss('canceled')">Cancel</button>
</div>

