//----------------------------------------------------------------------------------------------------------------------
// Generic Character
//----------------------------------------------------------------------------------------------------------------------

#generic-char {
    .upper-sheet {
        display: flex;
        flex-wrap: wrap;

        .card {
            margin-bottom: 0;
        }

        .main {
            flex: 0 1 300px;
            display: flex;
            flex-direction: column;
            margin-right: 5px;

            @media (min-width: 62em) {
                flex: 0 1 475px;
                flex-direction: row;

                .portrait {
                    margin-bottom: 0 !important;
                }

                .counters {
                    width: 251px;
                    flex: 0 1 175px;
                    margin-top: 0 !important;
                    margin-left: 5px;
                }
            }
            @media (min-width: 75em) {
                flex: 0 1 675px;

                .portrait {
                    flex: 0 1 auto !important;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }

                .counters {
                    width: auto;
                    flex: 1 1 auto;
                    margin-top: 0 !important;
                    margin-left: 5px;
                }
            }

            .portrait {
                flex: 1 1 445px;
                margin-right: 5px;
                margin-bottom: 5px;

                img {
                    height: 445px;
                    width: 300px;
                }
            }

            .counters {
                flex: 1 1 auto;
                margin-top: 5px;
            }
        }

        .sidebar {
            position: relative;
            flex: 1 1 auto;
            margin-left: 5px;

            & > .card {
                // Fuck flexbox and height 100% not working
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
            }
        }
    }

    #notes, #stats {
        margin-top: 10px;
    }

    #stats {
        .stats-list {
            font-size: .85em;
            display: flex;
            flex-wrap: wrap;
            padding-top: 15px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;

            > .statblock {
                flex: 1 1 auto;
                margin-left: 5px;
                margin-right: 5px;

                table {
                    margin-bottom: 0;
                }
            }
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
