//----------------------------------------------------------------------------------------------------------------------
// Overrides
//----------------------------------------------------------------------------------------------------------------------

.monospace {
    font-family: monospace;
}

.hidden-print {
    @media print {
        display: none;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Bootstrap Overrides
//----------------------------------------------------------------------------------------------------------------------

// Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs
// etc.)
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.btn:focus, input:focus, textarea:focus {
    outline: none !important;
}

code {
    background-color: rgba(0,0,0,0.06);
    font-size: 80%;
    color: rgb(102, 102, 102);
    border-radius: 4px;
}

.card {
    .card-header .card-title {
        margin: 0;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Stacked Tabs in Bootstrap 3:
//      http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
//----------------------------------------------------------------------------------------------------------------------

.tabs-below, .tabs-right, .tabs-left {
    .nav-tabs {
        border-bottom: 0;
    }
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below {
    > .nav-tabs {
        border-top: 1px solid #ddd;

        > li {
            margin-top: -1px;
            margin-bottom: 0;

            > a {
                -webkit-border-radius: 0 0 4px 4px;
                -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;

                &:hover, &:focus {
                    border-top-color: #ddd;
                    border-bottom-color: transparent;
                }
            }
        }
        > .active a {
            &, &:hover, &:focus {
                border-color: transparent #ddd #ddd #ddd;
            }
        }
    }
}

.tabs-left, .tabs-right {
    > .nav-tabs > li {
        float: none;

        > a {
            min-width: 74px;
            margin-right: 0;
            margin-bottom: 3px;
        }
    }
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;

    > li > a {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;

        &:hover, &:focus {
            border-color: #eee #ddd #eee #eee;
        }
    }

    > .active a {
        &, &:hover, &:focus {
            border-color: #ddd transparent #ddd #ddd;
            *border-right-color: #fff;
        }
    }
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;

    > li > a {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;

        &:hover, &:focus {
            border-color: #eee #eee #eee #ddd;
        }
    }

    > .active a {
        &, &:hover, &:focus {
            border-color: #ddd #ddd #ddd transparent;
            *border-left-color: #fff;
        }
    }
}

.tabs-left .tab-pane,
.tabs-right .tab-pane {
    overflow-y: auto;
}

//----------------------------------------------------------------------------------------------------------------------
