//----------------------------------------------------------------------------------------------------------------------
// Overrides
//----------------------------------------------------------------------------------------------------------------------

.md-dialog {
    p {
        margin: 14px 0;
    }

    .md-subhead {
        opacity: .54;
        font-size: 14px;
        letter-spacing: .01em;
        line-height: 20px;
    }
}

//----------------------------------------------------------------------------------------------------------------------
