//----------------------------------------------------------------------------------------------------------------------
// Home Styles
//----------------------------------------------------------------------------------------------------------------------

#home {
    .news-article {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0;

        &:first-child {
            border-top: none;
        }

        h1 {
            font-size: 20px;
            border-bottom: 1px solid #eee;
            margin-bottom: 10px;
            padding-bottom: 5px;

            p {
                font-size: 20px;
                margin: 0 !important;
            }
        }

        h2 {
            font-size: 18px;
            font-weight: bold;
            margin-top: 0;

            p {
                font-size: 18px;
                margin: 0 !important;
            }
        }

        h3, h4, h5, h6 {
            margin-top: 0;
            color: #333;
            font-weight: bold;
            font-size: 16px;
            margin-left: 10px;

            p {
                font-size: 16px;
                margin: 0 !important;
            }
        }

        p {
            font-size: 14px;
            margin-left: 10px;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
